.worker-content {
  box-sizing: border-box;
  padding: 2rem;
  font-size: 1rem;
  height: calc(100vh - 7rem);
  width: 100%;
  background-color: $palette-4;
  overflow: auto;

  .managment-container {
    display: flex;
  }

  .queue-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    a {
      text-decoration: none;
      color: $palette-1;
      &:hover {
        color: $palette-2;
      }
    }
  }

  .client-list {
    th, td {
      padding: 0 0.5rem;
    }

    .bad-theme {
      background-color: red;
      color: white;
    }

    .medium-theme {
      background-color: yellow;
      color: black;
    }

    .good-theme {
      background-color: green;
      color: white;
    }
  }

  .container-50 {
    width: 50%;
    height: 100%;
  }

  .buttons-box {
    width: 100%;
    display: flex;
    gap: 1rem;
  }

  .take-button {
    color: green;
  }
}