.worker-content {
  box-sizing: border-box;
  padding: 2rem;
  font-size: 1rem;
  height: calc(100vh - 7rem);
  width: 100%;
  background-color: $palette-4;
  overflow: auto;

  .managment-container {
    display: flex;
  }

  .queue-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    a {
      text-decoration: none;
      color: $palette-1;
      &:hover {
        color: $palette-2;
      }
    }
  }

  .table-container {
    max-height: calc(100vh - 18rem);
    overflow: auto;
  }

  .client-list {
    th, td {
      padding: 0 0.5rem;
    }

    .bad-theme {
      background-color: red;
      color: white;
    }

    .medium-theme {
      background-color: yellow;
      color: black;
    }

    .good-theme {
      background-color: green;
      color: white;
    }
  }

  .container-50 {
    width: 50%;
    height: 100%;
  }

  .buttons-box {
    width: 100%;
    display: flex;
    gap: 1rem;
  }

  .take-button {
    color: green;
  }
}

.worker-watch {
  font-size: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: $palette-1;
  background-color: $palette-4;
  flex-direction: column;

  .number {
    font-size: 20rem;
    font-weight: bold;
    color: green;
  }
}

.queue-watch {
  display: grid;
  grid-auto-rows: 1fr; /* Each row takes equal height */
  grid-auto-flow: column dense; /* Add new items in columns */
  grid-template-rows: repeat(5, 1fr); /* Create 5 rows */
  gap: 0 10rem;

  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: $palette-1;
  background-color: $palette-4;

  .number {
    font-size: 6.9rem;
    font-weight: bold;
    color: green;
  }
}