.admin-queue-planner-content {
    display: flex;
    justify-content: center;
    height: calc(100vh - 7rem);

    > div {
        height: 100%;

        &:first-child {
            box-sizing: border-box;
            width: 20%;
            padding: 1rem;
            background-color: $palette-4;
        }
        
        &:last-child {
            width: 80%;
        }
    }

    .react-flow__node-question {
        width: 15rem;
        background: $palette-4;
        color: #222;
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 15%), 0 2px 4px -1px rgb(0 0 0 / 8%);
        border-radius: 2px;
        cursor: default;
    }

    .react-flow__handle {
        height: 0.5rem;
        width: 0.5rem;
    }
    
    .react-flow__node-question .react-flow__handle {
        top: 50%;
        
        &.left-handle {
            left: -0.35rem;
        }
        &.right-handle {
            right: -0.8rem;
        }
    }

    .question-node__header {
        padding: 8px 10px;
        border-bottom: 1px solid #e2e8f0;
    }
    
    .question-node__body {
        padding: 10px;

        .buttons {
            display: flex;
            justify-content: space-between;
            .custom-drag-handle {
                cursor: grab;
            }
    
            .add-button {
                cursor: pointer;
            }
        }

        .remove-button {
            cursor: pointer;
        }
    }
    
    .question-node__answer {
        position: relative;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .react-flow__node-start {
        background: #ff7e7e;
        color: #222;
    }

    .react-flow__node-end {
        background: #7e7eff;
        color: #222;
    }

    .end-node__body {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        text-align: center;
        
        padding: 0.5rem;
        width: 10rem;
        gap: 1rem;

        .buttons {
            display: flex;
            justify-content: flex-start;
            .custom-drag-handle {
                cursor: grab;
            }
        }
    }

    .start-node__body {
        padding: 1rem;
    }

    .react-flow__edge-path {
        stroke-width: 5;
    }

    .side-container {
        display: flex;
        gap: 0.5rem;
        flex-direction: column;
    }
}