.admin-queue-planner-content {
    display: flex;
    justify-content: center;
    height: calc(100vh - 7rem);

    > div {
        height: 100%;

        &:first-child {
            box-sizing: border-box;
            width: 20%;
            padding: 1rem;
            background-color: $palette-4;
        }
        
        &:last-child {
            width: 80%;
        }
    }
}