.admin-queue-edit {
  box-sizing: border-box;
  padding: 2rem;
  font-size: 1rem;
  height: calc(100vh - 7rem);
  width: 100%;
  background-color: $palette-4;
  overflow: auto;

  table {
    td, th {
        padding: 0.5rem;
        text-align: left;
    }
  }
}