.admin-queue-edit {
  box-sizing: border-box;
  padding: 2rem;
  font-size: 1rem;
  height: calc(100vh - 7rem);
  width: 100%;
  background-color: $palette-4;
  overflow: auto;
  display: flex;
  gap: 10px;

  table {
    td, th {
        padding: 0.5rem;
        text-align: left;
    }
  }

  .table-container {
    width: calc(50% - 5px);

    .controls {
      min-height: max(5.5rem, 100px);
    }
  }

  .queue-edit {
    display: flex;
    gap: 10px
  }
}

.categories-box {
  display: flex;
  flex-direction: column;
  max-height: 25rem;
}